.codeContainer {
  display: flex;
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
  justify-content: center;
}
.codeEditor {
  flex: 1;
  min-width: 0;
  min-height: 0;
}
.codeExample {
  height: 400px;
  width: 400px;
}
iframe {
  border-width: 0 0 0 1px;
  border-color: lightgray;
  border-style: solid;
  padding: 10px;
  margin-left: 5px;
}
